body{
    margin: 0;
    padding: 0;
}
.container{
    background-color: bisque;
    height: auto;
}
.buy{
    width: 600px;
    height: auto;
    background-color: rgb(12, 231, 177);
    margin: 0 auto;
}
.buy form{
padding: 50px;
}
.buy p{
    font-size: 40px;
    font-family: Times New Roman;
    text-shadow: 0 2px 4px rgb(110, 110, 110);

}
.buy form input{
    padding: 20px;
    width: 471px;
    border: rgb(0, 0, 0);
    border-radius: 6px;
    box-shadow: 0 1px 5px rgb(7, 3, 3);
    margin-bottom: 25px;
    }
.buy form select{
    padding: 20px;
    width: 471px;
    border: rgb(0, 0, 0);
    border-radius: 6px;
    box-shadow: 0 1px 5px rgb(7, 3, 3);
   
    margin-bottom: 25px;
}
.buy form textarea{
    padding: 20px;
    width: 471px;
    border: rgb(0, 0, 0);
    border-radius: 6px;
    box-shadow: 0 1px 5px rgb(7, 3, 3);
    margin-bottom: 25px;
    font-size: 20px;
}
.buy h1{
    text-align: center;
    background-color: rgb(18, 90, 72);
    padding: 50px;
    margin: 0px;
    border-radius: 0px 0px 50px 50px;
    color: white;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
   
}
